# Copy this file to backend.tf and update values before running terraform init.
terraform {
  backend "s3" {
    bucket         = "slugterra-dev-tf-state-us-east-1"
    key            = "slugterra/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "slugterra-dev-tf-locks"
    encrypt        = true
  }
}
